header{
    padding: 15px;
    background: #1D6307;
    font-size: 2em;
    color: white;

}

header>a{
    color: white;
    font-size: 0.5em;
}

label{
    font-size: 1em;
}

header+form{
    padding-top: 100px;
}

header+img{
    /*width: 907px;*/
    /*height: 425px;*/
    position: absolute;
    z-index: -1;
    opacity: 0.3;
    top: calc(50% - 212px);
    left:calc(50% - 453px);
}

div>input[value=Entrar]{
    font-size: 20px;
}

.hide{
    display: none;
}

.pdf{
    position: relative;
    width: 25%;
    height: 250px;
    background: #49D945;
    border-radius: 10px;
    margin-top: 10px;
    /*top: calc(50% - 125px);*/
    /*z-index: -3;*/
}

.pdf:nth-child(1){
    margin-left: 5%;
    left: 10%;

}

.pdf:nth-child(2){
    margin-right: 5%;
    right: 10%;
}

i{
    font-size: 2.5em;
    color: black;
}

.buttons{
    position: absolute;
    bottom: 0;
    left: 85%;
}

.toast{
    padding: 25px;
    position: absolute;
    background: #1D6307;
    color: white;
    border-radius: 3px;
    left: calc(50% - 230px);
    top:15%;
    opacity: 0;
}

/* Small only */
@media screen and (max-width: 39.9375em) {

    header{
        background: red;
    }

    .toast{
        text-align: center;
        max-width: 250px;
        left: calc(50% - 125px);
    }
    .pdf{
        /*padding: 30px;*/
        text-align: center;
        position: relative;
        width:250px;
        height: 180px;
    }

    .pdf:nth-child(1){
        margin-bottom: 3%;

    }

    .pdf:nth-child(2){
        margin-top: 3%;

    }

    body>img{
        position: absolute;
        z-index: -1;
        opacity: 0.3;

        top: calc(50% - 85px);
        left: 0;
    }

}

